    <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link text-center">
        <span class="brand-text font-weight-light">AdminClientMVC</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/lib/admin-lte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                @*      <div class="my-image"></div>
                <div class="my-image1"></div>*@
            </div>
            <div class="info">
                <a href="" class="d-block">@ViewBag.EmailAddress</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                @if (ViewBag.UserTypeId == 1)
                {
                    <li class="nav-item">
                        <a id="dashboard" href="@Url.Content("~/Home/Admin")" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a id="dashboard" href="@Url.Content("~/Home/Client")" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a href="@Url.Content("~/")" class="nav-link">
                        <i class="nav-icon fa fa-sign-out"></i>
                        <p>
                            Log out
                        </p>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->